.wallet_enter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sph_keys {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
      max-width:300px;
      text-align: center;
      font-size: 12px;
      color:#b5b6b8;
      margin: 0 auto;
      margin-bottom: 150px;
  }
.sph_submit {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
      border-radius: 50px;
      border: 0;
      background-color: #ebecf1; /*  Серый фон по умолчанию */
      color: #bdbec3; /*  Темнее серый цвет текста */
      width: 300px;
      height: 40px;
      display: flex;
      font-size: 15px;
      justify-content: center;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 25px;
      font-size: 18px;
      cursor: not-allowed; /*  Устанавливаем курсор "недоступно" */
      transition: background-color 0.3s ease, color 0.3s ease; /*  Добавляем плавный переход */
}
  
.sph_submit.active { 
      background-color: rgb(0,0,234);
      color: white;
      cursor: pointer; /*  Устанавливаем курсор "указатель" */
}
  
    .sph_input {
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
      padding-top: 5px;
      border: 1px solid lightgray;
      border-radius: 3px;
      width: 350px;
      height: 200px;
      resize: none;
    }
  .sph_title1,.sph_title2 {
      margin: 0;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 12px;
      color:#929699;
      margin-left:5px;
      margin-bottom: 3px;
      text-align: left;
  }
  .sph_input1{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
      padding-left:5px;
      border: 1px solid lightgray;
      border-radius: 3px;
      width:350px;
      height: 30px;
      display: flex;
      margin-bottom: 20px;
      font-weight:500;
  }
  .sph_input:focus {
      outline: none;
    }
  .sph_input1:focus {
      outline: none;
    }
  .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin:20px
  }
  .question {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    align-items: center;
    color: rgb(0,0,234);
    text-decoration: none;
    padding-top:20px;
  }
  @media screen and (max-width: 395px) {
    .block input {
        width: calc(100% - 10px); /* Занимает всю ширину блока с отступом */
        box-sizing: border-box; /* Включает padding и border в ширину */
      }
    
      .block textarea {
        width: calc(100% - 10px); /* Занимает всю ширину блока с отступом */
        box-sizing: border-box; /* Включает padding и border в ширину */
      }
}